<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PassengerApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CDCA8D7A9543E0531CDCFAF380DA0F0689C73E05</string>
				<key>dateExpires</key>
				<string>04/10/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NGCD7ZSAPT.car.jet.riderapp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>NGCD7ZSAPT</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>NGCD7ZSAPT.com.cubejek.user</string>
				</array>
			</dict>
			<key>name</key>
			<string>PassengerApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>796a72ee-0dac-4f25-9a0e-6c7e2c412192</string>
				<key>name</key>
				<string>passengerdistribution_15october2018</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NGCD7ZSAPT</string>
				<key>name</key>
				<string>JetCar, LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
